# Normalization Vs Standardization

In [36]:
import pandas as pd

In [44]:
df = pd.read_csv('500hits.csv', encoding = 'latin-1')
df.head()

,PLAYER,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA,HOF
0,Ty Cobb,24,3035,11434,2246,4189,724,295,117,726,1249,357,892,178,0.366,1
1,Stan Musial,22,3026,10972,1949,3630,725,177,475,1951,1599,696,78,31,0.331,1
2,Tris Speaker,22,2789,10195,1882,3514,792,222,117,724,1381,220,432,129,0.345,1
3,Derek Jeter,20,2747,11195,1923,3465,544,66,260,1311,1082,1840,358,97,0.310,1
4,Honus Wagner,21,2792,10430,1736,3430,640,252,101,0,963,327,722,15,0.329,1

In [45]:
df = df.drop(columns = ['PLAYER', 'CS'])

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 465 entries, 0 to 464
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   YRS     465 non-null    int64
 1   G       465 non-null    int64
 2   AB      465 non-null    int64
 3   R       465 non-null    int64
 4   H       465 non-null    int64
 5   2B      465 non-null    int64
 6   3B      465 non-null    int64
 7   HR      465 non-null    int64
 8   RBI     465 non-null    int64
 9   BB      465 non-null    int64
 10  SO      465 non-null    int64
 11  SB      465 non-null    int64
 12  BA      465 non-null    float64
 13  HOF     465 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 51.0 KB

In [43]:
df.describe().round(3)

,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,BA,HOF
count,465.000,465.000,465.000,465.000,465.000,465.000,465.000,465.000,465.000,465.000,465.000,465.000,465.000,465.000
mean,17.049,2048.699,7511.456,1150.314,2170.247,380.953,78.555,201.049,894.260,783.561,847.471,195.905,0.289,0.329
std,2.765,354.392,1294.066,289.635,424.191,96.483,49.363,143.623,486.193,327.432,489.224,181.846,0.021,0.475
min,11.000,1331.000,4981.000,601.000,1660.000,177.000,3.000,9.000,0.000,239.000,0.000,7.000,0.246,0.000
25%,15.000,1802.000,6523.000,936.000,1838.000,312.000,41.000,79.000,640.000,535.000,436.000,63.000,0.273,0.000
50%,17.000,1993.000,7241.000,1104.000,2076.000,366.000,67.000,178.000,968.000,736.000,825.000,137.000,0.287,0.000
75%,19.000,2247.000,8180.000,1296.000,2375.000,436.000,107.000,292.000,1206.000,955.000,1226.000,285.000,0.300,1.000
max,26.000,3308.000,12364.000,2295.000,4189.000,792.000,309.000,755.000,2297.000,2190.000,2597.000,1406.000,0.366,2.000

In [55]:
# for Strandard_Scalar
X1 = df.iloc[: ,: 14]

# For MinMaxScalar

X2 = df.iloc[:, : 14]

In [56]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X1 = sc.fit_transform(X1)
X1

array([[ 2.51629465,  2.78607833,  3.03444238, ...,  3.8320671 ,
         3.64828983,  1.41430074],
       [ 1.79223709,  2.76065536,  2.67704362, ..., -0.64908031,
         1.99615936,  1.41430074],
       [ 1.79223709,  2.09118375,  2.0759639 , ...,  1.29972336,
         2.65701155,  1.41430074],
       ...,
       [-0.74196436, -0.60647609, -0.78322616, ...,  0.65562723,
        -1.54412022, -0.69355132],
       [-0.37993558, -0.64037339, -0.93020833, ..., -0.67110069,
        -1.21369413, -0.69355132],
       [-0.74196436, -1.64034363, -1.45624979, ...,  0.39138266,
         0.29682516, -0.69355132]])

In [58]:
# Now we convert this data back to dataframe
dataframe = pd.DataFrame(X1, columns = ['YRS','G','AB','R','H','2B','3B','HR','RBI','BB','SO','SB','BA','HOF'])
dataframe.head()

,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,BA,HOF
0,2.516295,2.786078,3.034442,3.787062,4.764193,3.559333,4.389485,-0.585841,-0.346449,1.423013,-1.003628,3.832067,3.648290,1.414301
1,1.792237,2.760655,2.677044,2.760530,3.444971,3.569709,1.996457,1.909487,2.175837,2.493089,-0.309948,-0.649080,1.996159,1.414301
2,1.792237,2.091184,2.075964,2.528955,3.171214,4.264876,2.909053,-0.585841,-0.350567,1.826585,-1.283965,1.299723,2.657012,1.414301
3,1.068180,1.972543,2.849554,2.670665,3.055576,1.691719,-0.254611,0.410896,0.858071,0.912434,2.030966,0.892346,1.004881,1.414301
4,1.430208,2.099658,2.257758,2.024329,2.972977,2.687780,3.517449,-0.697364,-1.841290,0.548609,-1.065016,2.896201,1.901752,1.414301

In [60]:
dataframe.describe().round(3)

,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,BA,HOF
count,465.000,465.000,465.000,465.000,465.000,465.000,465.000,465.000,465.000,465.000,465.000,465.000,465.000,465.000
mean,-0.000,0.000,0.000,0.000,0.000,0.000,-0.000,-0.000,0.000,0.000,-0.000,0.000,0.000,0.000
std,1.001,1.001,1.001,1.001,1.001,1.001,1.001,1.001,1.001,1.001,1.001,1.001,1.001,1.001
min,-2.190,-2.027,-1.958,-1.899,-1.204,-2.116,-1.532,-1.339,-1.841,-1.665,-1.734,-1.040,-2.016,-0.694
25%,-0.742,-0.697,-0.765,-0.741,-0.784,-0.715,-0.762,-0.851,-0.524,-0.760,-0.842,-0.732,-0.742,-0.694
50%,-0.018,-0.157,-0.209,-0.160,-0.222,-0.155,-0.234,-0.161,0.152,-0.145,-0.046,-0.324,-0.081,-0.694
75%,0.706,0.560,0.517,0.504,0.483,0.571,0.577,0.634,0.642,0.524,0.775,0.490,0.533,1.414
max,3.240,3.557,3.754,3.956,4.764,4.265,4.673,3.861,2.888,4.300,3.580,6.662,3.648,3.522

In [65]:
from sklearn.preprocessing import MinMaxScaler
mns = MinMaxScaler(feature_range = (0, 1))
X2 = mns.fit_transform(X2)
X2

array([[0.86666667, 0.86191199, 0.87403495, ..., 0.63259471, 1.        ,
        0.5       ],
       [0.73333333, 0.85735964, 0.81145876, ..., 0.05075054, 0.70833333,
        0.5       ],
       [0.73333333, 0.73748103, 0.70621698, ..., 0.30378842, 0.825     ,
        0.5       ],
       ...,
       [0.26666667, 0.2544259 , 0.20560748, ..., 0.22015726, 0.08333333,
        0.        ],
       [0.33333333, 0.2483561 , 0.17987268, ..., 0.04789135, 0.14166667,
        0.        ],
       [0.26666667, 0.06929691, 0.0877692 , ..., 0.18584703, 0.40833333,
        0.        ]])

In [ ]:
# now we convert back it into dataframe

dataframe_2 = pd.Dataframe(X2 , )